
//IO_LOC "sys_rst_n" AA13; // 左上ボタン
IO_LOC  "sys_reset_n" AB13; // 左下ボタン
IO_PORT "sys_reset_n" PULL_MODE=UP;
IO_LOC  "sys_clk" V22; // 50MHz
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF;

IO_LOC  "button_n" AA13; // 左上ボタン
IO_PORT "button_n" PULL_MODE=UP;

IO_LOC  "LED[0]" G11; // DONEpin som側一番下のLED、console側青色
IO_PORT "LED[0]" PULL_MODE=UP DRIVE=8;
IO_LOC  "LED[1]" U12; // READYpin som側中央のLED、console側赤色
IO_PORT "LED[1]" PULL_MODE=UP DRIVE=8;

// SDCARD
//IO_LOC  "SD_CSn" W15; // DAT3
//IO_PORT "SD_CSn" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC  "SD_CLK" V15;
IO_PORT "SD_CLK" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC  "SD_CMD" Y16;
IO_PORT "SD_CMD" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=8;
//IO_LOC  "SD_DAT" AA15; // DAT0
//IO_PORT "SD_DAT" PULL_MODE=UP IO_TYPE=LVCMOS33;

IO_LOC  "SD_DAT[0]" AA15;
IO_PORT "SD_DAT[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "SD_DAT[1]" AB15;
IO_PORT "SD_DAT[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "SD_DAT[2]" W14;
IO_PORT "SD_DAT[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "SD_DAT[3]" W15;
IO_PORT "SD_DAT[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC  "SD_DET" Y13;
//IO_PORT "SD_DET" PULL_MODE=UP;

// UART
IO_LOC  "UART_tx" U15;
IO_PORT "UART_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "UART_rx" V14;
IO_PORT "UART_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// SDRAM
IO_LOC "IO_sdram_dq[0]" E14;
IO_PORT "IO_sdram_dq[0]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[1]" E13;
IO_PORT "IO_sdram_dq[1]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[2]" C15;
IO_PORT "IO_sdram_dq[2]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[3]" C14;
IO_PORT "IO_sdram_dq[3]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[4]" B13;
IO_PORT "IO_sdram_dq[4]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[5]" C13;
IO_PORT "IO_sdram_dq[5]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[6]" A14;
IO_PORT "IO_sdram_dq[6]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[7]" A13;
IO_PORT "IO_sdram_dq[7]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[8]" B21;
IO_PORT "IO_sdram_dq[8]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[9]" A21;
IO_PORT "IO_sdram_dq[9]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[10]" B20;
IO_PORT "IO_sdram_dq[10]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[11]" A20;
IO_PORT "IO_sdram_dq[11]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[12]" A15;
IO_PORT "IO_sdram_dq[12]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[13]" A16;
IO_PORT "IO_sdram_dq[13]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[14]" B15;
IO_PORT "IO_sdram_dq[14]" IO_TYPE=LVCMOS33;
IO_LOC "IO_sdram_dq[15]" B16;
IO_PORT "IO_sdram_dq[15]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_addr[0]" D19;
IO_PORT "O_sdram_addr[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[1]" E19;
IO_PORT "O_sdram_addr[1]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[2]" C19;
IO_PORT "O_sdram_addr[2]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[3]" C18;
IO_PORT "O_sdram_addr[3]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[4]" E16;
IO_PORT "O_sdram_addr[4]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[5]" D15;
IO_PORT "O_sdram_addr[5]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[6]" D14;
IO_PORT "O_sdram_addr[6]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[7]" A19;
IO_PORT "O_sdram_addr[7]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[8]" A18;
IO_PORT "O_sdram_addr[8]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[9]" C17;
IO_PORT "O_sdram_addr[9]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[10]" D20;
IO_PORT "O_sdram_addr[10]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[11]" D17;
IO_PORT "O_sdram_addr[11]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_addr[12]" B18;
IO_PORT "O_sdram_addr[12]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_ba[0]" F15;
IO_PORT "O_sdram_ba[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_ba[1]" C20;
IO_PORT "O_sdram_ba[1]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_dqm[0]" F14;
IO_PORT "O_sdram_dqm[0]" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_dqm[1]" F13;
IO_PORT "O_sdram_dqm[1]" IO_TYPE=LVCMOS33;

IO_LOC "O_sdram_clk" B17;
IO_PORT "O_sdram_clk" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_wen_n" D16;
IO_PORT "O_sdram_wen_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_ras_n" F16;
IO_PORT "O_sdram_ras_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_cas_n" E17;
IO_PORT "O_sdram_cas_n" IO_TYPE=LVCMOS33;
IO_LOC "O_sdram_cs_n" F21;      // was F19 on mega60k
IO_PORT "O_sdram_cs_n" IO_TYPE=LVCMOS33;

// HDMI
IO_LOC  "tmds_clk_p" G15;
IO_PORT "tmds_clk_p" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
//IO_LOC  "tmds_clk_n" G16;
//IO_PORT "tmds_clk_n" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC  "tmds_dat_p[0]" J14;
IO_PORT "tmds_dat_p[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
//IO_LOC  "tmds_dat_n[0]" H14;
//IO_PORT "tmds_dat_n[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC  "tmds_dat_p[1]" J15;
IO_PORT "tmds_dat_p[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
//IO_LOC  "tmds_dat_n[1]" H15;
//IO_PORT "tmds_dat_n[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC  "tmds_dat_p[2]" K17;
IO_PORT "tmds_dat_p[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
//IO_LOC  "tmds_dat_n[2]" J17;
//IO_PORT "tmds_dat_n[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;

// Pmod0 7SEG
IO_LOC  "PMOD0[0]" B22; // PMOD0_IO7
IO_LOC  "PMOD0[1]" C22; // PMOD0_IO6
IO_LOC  "PMOD0[2]" E18; // PMOD0_IO5
IO_LOC  "PMOD0[3]" F18; // PMOD0_IO4
IO_LOC  "PMOD0[4]" G22; // PMOD0_IO3
IO_LOC  "PMOD0[5]" G21; // PMOD0_IO2
IO_LOC  "PMOD0[6]" V19; // PMOD0_IO1
IO_LOC  "PMOD0[7]" V18; // PMOD0_IO0
IO_PORT "PMOD0[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD0[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD0[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD0[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD0[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD0[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD0[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PMOD0[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

